* {
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open {
    visibility: visible;
}
.closed {
    visibility: hidden;
}
.section {
    position:fixed;
}
.btn {
    border:2px outset white;
    color:white;
    width: 150px; 
    height: 50px; 
    overflow: hidden; 
    display: flex;
    border-radius: 8px;
    justify-content:center; 
    align-items: center;
    user-select: none; 
    margin-top: 50px;
    font-size: 20px;
}
.btn.yes {
    margin-top: 250px; 
    background-color: rgb(255, 62, 62);
}
.btn.no {
    background-color: rgb(0, 0, 0);
}
.main-text {
    position: absolute; 
    top: calc(70px - 50px); 
    left: 50%; 
    transform: translateX(-50%); 
    color: darkred; 
    font-weight: bold; 
    font-size: 45px; 
    margin-top: 100px;
    pointer-events: none; 
}
.val-image {
    position: relative; 
    left: 50%;
    transform: translateX(-50%); 
}
.final-text {
    position: relative;
    font-size: 50px;
    font-weight: bold;
}
.final-image {
    position: absolute;
    top: 50;
    left: 50;
}